<!DOCTYPE html>
<html lang="fr" ng-app="demoApp">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="css/style.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
		<script src="js/todoList.js"></script>
	</head>
			<body>
				<header>
					<h1>Todo List</h1>
				</header>
				<section ng-controller="todoCtrl">
					<form id="todo-form" ng-submit="addTodo()">
						<input id="new-todo" placeholder="Que devez-vous faire ?" ng-model="newTodo" />
					</form>
					<article ng-show="todos.length">
						<ul id="todo-list">
							<li ng-repeat="todo in todos" ng-class="{completed: todo.completed}">
								<div class="view">
									<input class="mark" type="checkbox" ng-model="todo.completed" />
									<span>{{todo.title}}</span>
									<span class="close" ng-click="removeTodo(todo)">x</span>
								</div>
							</li>
						</ul>
						<input id="mark-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)" />
						<label class="btn btn-info" for="mark-all">Tout cocher</label>
						<button class="btn btn-danger" ng-click="clearCompletedTodos()">Supprimer les cases cochées</button>
					</article>
				</section>
				<script
			  src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
			</body>
</html>